.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid var(--green-strong);
  color: var(--green-strong);
  display: block;
  width: 24rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background: transparent;
  transition: .3s;
  height: 4.5rem;
}

.input:focus, .input:hover {
  outline: none;
  border-color: var(--green-strong);
  box-shadow: 0 0 0 3px var(--green-weak);
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: .5rem;
}

.error {
  color: #f31;
  font-size: .875rem;
  margin-top: .25rem;
}