.form {
  max-width: 36.75rem;
  padding: 5rem 6.375rem;
  margin: 0 auto;
}


.divCadastro{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cadastro {
  letter-spacing: 0.1rem;
  color: var(--green-weak);
  font-size: 1.2rem;
  transition: .5s;
  margin-bottom: 1rem;
}
