.logo {
  width: 12.5rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}

@media screen and (max-width: 1155px) {
  .footer {
    display: none;
  }
}

.footer a {
  color: var(--green-weak);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.icons a{
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icons a:hover {
  background-color: var(--green-weak);
  border: var(--green-strong);
}