* {
  --type-first: Helvetica, Aril;
  --green-strong: #55A162;
  --green-weak: #5AED83;
  font-family: var(--type-first);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: .5s;
  color: #fff;
}

a:hover {
  transform: scale(1.2);
}

li {
  list-style: none;
}

body {
  background-color: #000;
  color: #fff;
  max-width: 90rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #fff;
}

.container {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.4s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

/* .App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
} */